<a href="https://colab.research.google.com/github/ivnizhnik/Data_Science_Project_A/blob/main/WorldHappinessReport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Source of data: data.world

from google.colab import drive
drive.mount('/content/drive')

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
df = pd.read_excel('/content/drive/MyDrive/Data_Science_Project_A/WHR20_DataForFigure2.1.xls')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

  Country name  ... Dystopia + residual
0      Finland  ...            2.762835
1      Denmark  ...            2.432741
2  Switzerland  ...            2.350267
3      Iceland  ...            2.460688
4       Norway  ...            2.168266

[5 rows x 20 columns]

***First choice: dataset 1***

**1) Source of data:** Data World 2020

**2) Brief description of data:** The dataset is the World Happiness Report 2020 by Data World. It consists of 20 columns/features and 153 rows (each row for a country) with zero missing data as well as zero duplicated rows. The brief statistical overview of the dataset provides a healthy start for data exploration and further analysis.

**3) What is the target?** The target (y) is the ladder score which is a proxy for happiness level on the scale of 0-10. The other features in the dataset includes things like GDP/capita, freedom levels, corruption levels, etc. all the variables that may impact happiness level.

**4) Is this a classification or regression problem?** This is originally a regression problem as y is continuous. But I also intend to create new features (e.g., less than 3 stands for low happiness).

**5) How many features?** 20 

**6) How many rows of data?** 153

**7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?** I think the dataset provides opportunity to practice both regression models as well as classifications. Would be interesting to see if the insights coming out of the different approaches are directionally similar.

In [11]:
df.shape

(153, 20)

In [3]:
df.describe()

       Ladder score  ...  Dystopia + residual
count     153.00000  ...           153.000000
mean        5.47324  ...             1.972317
std         1.11227  ...             0.563638
min         2.56690  ...             0.257241
25%         4.72410  ...             1.629928
50%         5.51500  ...             2.046272
75%         6.22850  ...             2.350267
max         7.80870  ...             3.440810

[8 rows x 18 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                153 non-null    object
 1   Regional indicator                          153 non-null    object
 2   Ladder score                                153 non-null    float64
 3   Standard error of ladder score              153 non-null    float64
 4   upperwhisker                                153 non-null    float64
 5   lowerwhisker                                153 non-null    float64
 6   Logged GDP per capita                       153 non-null    float64
 7   Social support                              153 non-null    float64
 8   Healthy life expectancy                     153 non-null    float64
 9   Freedom to make life choices                153 non-null    float64
 10  Generosity                                  153 non-null    float64
 11  Perceptions of corruption                   153 non-null    float64
 12  Ladder score in Dystopia                    153 non-null    float64
 13  Explained by: Log GDP per capita            153 non-null    float64
 14  Explained by: Social support                153 non-null    float64
 15  Explained by: Healthy life expectancy       153 non-null    float64
 16  Explained by: Freedom to make life choices  153 non-null    float64
 17  Explained by: Generosity                    153 non-null    float64
 18  Explained by: Perceptions of corruption     153 non-null    float64
 19  Dystopia + residual                         153 non-null    float64
dtypes: float64(18), object(2)
memory usage: 24.0+ KB

In [8]:
df.isnull().sum()

Country name                                  0
Regional indicator                            0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       0
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           0
dtype: int64

In [9]:
df.duplicated().sum()

0